<h1>Listing logins</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Pass word</th>
    <th>Name</th>
    <th>Usertype</th>
    <th>Email</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @logins.each do |login| %>
  <tr>
    <td><%= login.username %></td>
    <td><%= login.pass_word %></td>
    <td><%= login.name %></td>
    <td><%= login.usertype %></td>
    <td><%= login.email %></td>
    <td><%= login.phone %></td>
    <td><%= link_to 'Show', login %></td>
    <td><%= link_to 'Edit', edit_login_path(login) %></td>
    <td><%= link_to 'Destroy', login, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Login', new_login_path %>
